
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  flex: 1;
  font-size: 40px;
}

.calculator {
  display: flex;
  flex-direction: column;
  background-color: #702D03; 
  width: 20vw;
  height: 60vh;
  margin-top: 10vh;
  border-radius: 15px;
}

.screen {
  width: 17vw;
  height: 10vh;
  margin: 20px;
  background-color: #EBBCA0;
}

.panel {
  flex: auto;
  margin: 10px;
  /*background-color: #EE935A;*/
}
